[submodule "SFGUI"]
	path = SFGUI
	url = https://github.com/TankOs/SFGUI
[submodule "SFML"]
	path = SFML
	url = https://github.com/SFML/SFML
[submodule "rtaudio"]
	path = rtaudio
	url = https://github.com/thestk/rtaudio
